@mixin button($color){
  transition: all 0.5s ease;
  border: $color solid 3px;
  border-radius: 5px;
  background: $color;
  color: white;
    &:hover,&:focus{
      background-color: white;
      border: $color solid 3px;
      color: $color;
      transition: all 0.5s ease;

    }
}

#valide{
  padding: 11rem 0;
  filter: url('#goo');
  margin: auto;
  & :first-child{
    display: inline-block;
    text-align: center;
    background: cadetblue;
    color: white;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-size: 1.25rem;
  }
  & :first-child:before,
  & :first-child:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: cadetblue;
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
  }
  & :first-child:before {
    top: -25%;
    left: 20%;
  }
  & :first-child:after {
    bottom: -25%;
    right: 20%;
  }
  & :first-child:hover:before,
  & :first-child:hover:after,
  & :first-child:focus:before,
  & :first-child:focus:after {
    transform: none;
  }
}