@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, #MesProduits article, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, #MesProduits article, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: large;
  margin: 2em;
}

button {
  border: none;
}

#valide {
  padding: 11rem 0;
  filter: url("#goo");
  margin: auto;
}
#valide :first-child {
  display: inline-block;
  text-align: center;
  background: cadetblue;
  color: white;
  padding: 1.18em 1.32em 1.03em;
  line-height: 1;
  border-radius: 1em;
  position: relative;
  min-width: 8.23em;
  text-decoration: none;
  font-size: 1.25rem;
}
#valide :first-child:before, #valide :first-child:after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: cadetblue;
  border-radius: 50%;
  transition: transform 1s ease;
  transform: scale(0);
  z-index: -1;
}
#valide :first-child:before {
  top: -25%;
  left: 20%;
}
#valide :first-child:after {
  bottom: -25%;
  right: 20%;
}
#valide :first-child:hover:before, #valide :first-child:hover:after, #valide :first-child:focus:before, #valide :first-child:focus:after {
  transform: none;
}

* {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: cadetblue;
  padding: 1em 2em;
  min-height: 4em;
}
header nav a {
  margin-left: 1em;
}

section {
  min-height: 82vh;
}
section .main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
section .main form {
  display: flex;
  flex-direction: column;
}
section .main form label, section .main form input {
  margin-bottom: 1em;
}
section .main form input {
  padding: 0.5em;
}
section .main form h2 {
  text-align: center;
}
section .main form #valide {
  padding-top: 2em;
}
section .main form #valide button {
  border: none;
}
section .main article {
  flex-basis: 150px;
  height: 150px;
  display: flex;
  justify-content: Center;
  align-items: center;
  margin: 0 4em;
}
section .main article a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  line-height: 150px;
  transition: all 0.5s ease;
  border: cadetblue solid 3px;
  border-radius: 5px;
  background: cadetblue;
  color: white;
}
section .main article a:hover, section .main article a:focus {
  background-color: white;
  border: cadetblue solid 3px;
  color: cadetblue;
  transition: all 0.5s ease;
}
section #tableauBordInfo {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
}
section #tableauBordInfo article {
  text-align: center;
}
section #Producteurs_CA {
  padding: 0 2em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2em;
  margin-bottom: 2em;
}
section #Producteurs_CA article {
  text-align: center;
}
section #Producteurs_CA article img {
  width: 150px;
}
section #ALlCommandes {
  padding: 0 2em;
}
section #ALlCommandes aside, section #ALlCommandes #MesProduits article, #MesProduits section #ALlCommandes article {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
}
section #ALlCommandes article {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 1em 0;
  border: solid 2px cadetblue;
  border-radius: 5px;
  margin-bottom: 2em;
  text-align: center;
}
section #ALlCommandes article .error {
  color: firebrick;
  font-weight: bolder;
}
section #Commande {
  padding: 0 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section #Commande #Total {
  grid-template-columns: 4fr 1fr 1fr;
  align-items: start;
  padding: 1em;
}
section #Commande #Total h3 {
  margin-left: -1em;
}
section #Commande aside, section #Commande #MesProduits article, #MesProduits section #Commande article {
  display: grid;
  grid-template-columns: 4fr 1.5fr 1fr;
  align-items: center;
}
section #Commande aside span, section #Commande #MesProduits article span, #MesProduits section #Commande article span {
  line-height: 48px;
}
section #Commande aside span img, section #Commande #MesProduits article span img, #MesProduits section #Commande article span img {
  margin-right: 1em;
}
section #Commande aside span:nth-child(1), section #Commande #MesProduits article span:nth-child(1), #MesProduits section #Commande article span:nth-child(1) {
  font-weight: bolder;
}
section #Commande aside span:nth-child(2):before, section #Commande #MesProduits article span:nth-child(2):before, #MesProduits section #Commande article span:nth-child(2):before {
  content: url("https://valentinbardet.fr/atelier/html/icons/email.png");
  position: relative;
  left: -1em;
  top: 10px;
}
section #Commande aside span:nth-child(3), section #Commande #MesProduits article span:nth-child(3), #MesProduits section #Commande article span:nth-child(3) {
  justify-self: end;
}
section #Commande aside span:nth-child(3):before, section #Commande #MesProduits article span:nth-child(3):before, #MesProduits section #Commande article span:nth-child(3):before {
  content: url("https://valentinbardet.fr/atelier/html/icons/phone.png");
  position: relative;
  left: -1em;
  top: 10px;
}
section #Commande h3 {
  margin-top: 1em;
}
section #Commande article {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  padding: 1em;
  border: solid 2px cadetblue;
  border-radius: 5px;
  margin: 1em 0;
}
section #Commande article p:nth-child(1) {
  text-transform: capitalize;
}

#MesProduits {
  padding: 0 2em;
}
#MesProduits aside, #MesProduits article {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
  padding: 1em;
}
#MesProduits article {
  border: solid 2px cadetblue;
  border-radius: 5px;
  margin-bottom: 2em;
}
#MesProduits article input, #MesProduits article select, #MesProduits article option, #MesProduits article button {
  font-size: 1rem;
  padding: 0 1rem;
}
#MesProduits article a, #MesProduits article button {
  transition: all 0.5s ease;
  border: cadetblue solid 3px;
  border-radius: 5px;
  background: cadetblue;
  color: white;
  align-self: center;
  text-align: center;
  padding: 1em;
}
#MesProduits article a:hover, #MesProduits article a:focus, #MesProduits article button:hover, #MesProduits article button:focus {
  background-color: white;
  border: cadetblue solid 3px;
  color: cadetblue;
  transition: all 0.5s ease;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: cadetblue;
  padding: 1em;
}

#commande_produ {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: row;
  grid-gap: 10px;
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  margin-top: 2em;
}

#commande_producteur {
  padding: 0 2em;
}
#commande_producteur p {
  margin: auto;
}
#commande_producteur article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: row;
  grid-gap: 10px;
  font-family: "Gill Sans", sans-serif;
  border-radius: 5px;
  border: solid 2px cadetblue;
  height: 60px;
  margin-top: 10px;
}
#commande_producteur #total_prix_quantite {
  border: none;
  box-shadow: none;
  margin-top: 15px;
}
#commande_producteur #total_prix_quantite p:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
#commande_producteur #total_prix_quantite p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
#commande_producteur #total_prix_quantite p:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}

@media screen and (max-width: 1140px) {
  section > #Producteurs_CA {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1020px) {
  section > #Commande aside, section > #Commande #MesProduits article, #MesProduits section > #Commande article {
    grid-template-columns: 3fr 2fr 1fr;
  }
}
@media screen and (max-width: 795px) {
  section > #Commande aside, section > #Commande #MesProduits article, #MesProduits section > #Commande article {
    grid-template-columns: 1.2fr 2.6fr 1.6fr;
  }
}
@media screen and (max-width: 670px) {
  section > #ALlCommandes article {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }
}
@media screen and (max-width: 579px) {
  section .main {
    flex-direction: column;
  }
  section .main article {
    width: 150px;
    margin-bottom: 2em;
  }
  section > #Producteurs_CA {
    grid-template-columns: repeat(2, 1fr);
  }
  section > #tableauBordInfo {
    flex-direction: column;
  }
  section > #tableauBordInfo article {
    margin: 0 0 2em 0;
  }
}

/*# sourceMappingURL=style.css.map */
